<ion-view view-title="My Schedule">
  <ion-content>
    <ul class="list">
      <li class="item">
      <div class="row">
        <div class="col col-50">
          Clock In Time:
        </div>
        <div class="col col-50">
          06:00
        </div>
      </div>
    </li>
      <li class="item">
        <div class="row">
          <div class="col col-50">
            Depot Depart Time:
          </div>
          <div class="col col-50">
            06:15
          </div>
        </div>
      </li>
      <li class="item">
        <div class="row">
          <div class="col col-50">
            Depot Return Time:
          </div>
          <div class="col col-50">
            14:45
          </div>
        </div>
      </li>
      <li class="item">
        <div class="row">
          <div class="col col-50">
            Clock Out Time:
          </div>
          <div class="col col-50">
            05:00
          </div>
        </div>
      </li>
      <li class="item">
        <div class="row">
          <div class="col col-50">
            Clock In Time:
          </div>
          <div class="col col-50">
            06:00
          </div>
        </div>
      </li>
    </ul>

    <div class="row">
      <button class="button button-block button-balanced">
        Looks Good, Lets Roll!
      </button>
    </div>
  </ion-content>
</ion-view>
